@using DLL.Models
@model DLL.Models.Message[]?

@{
    ViewBag.Title = "Messages";
    Layout = "_Layout";
}

<h2>Messages</h2>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Text</th>
        <th>Details</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var message in @Model ?? Enumerable.Empty<Message>())
        {
            <tr>
                <td>@message.Id</td>
                <td>@message.Text</td>
                <td><a asp-controller="Messages" asp-action="GetById" asp-route-id="@message.Id">View</a></td>
            </tr>
        }
    </tbody>
</table>
