@model DLL.Models.Message

@{
    ViewBag.Title = "Update message";
    Layout = "_Layout";
}


<form method="post">
    <h2>Update message</h2>
    <div>
        <input asp-for="Text" placeholder="Message text" value="@Model.Text"
               minlength="1" required class="w-75"/>
        <input asp-for="Id" value="@Model.Id" type="hidden"/>
    </div>
    <div asp-validation-summary=All class="text-danger"></div>
    <div>
        <button type="submit">Update</button>
    </div>
</form>